<% if user_signed_in? %>
  <%= form_tag frontend_search_path, :method => :get do %>
    <%= text_field "search", "s", :value => params[:s] %>
    <%= button_to "search", "submit_search" %>
    
  <% end %>
  <%= @wall.inspect %>
<% else %>
  <p>
    Zawartość dostępna tylko dla zalogowanych użytkowników.
  </p>
<% end %>
