<% if user_signed_in? %>
  <span style="color:green;">
    <%= notice %>
  </span>
  <%= render :partial => "wall/wall", :object => @posts %> 
<% else %>
  <p>You have to log in to see the contents</p>
<% end %>
